/* Global Styles */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #000;
  background: #fff;
}

a,
.enter-site {
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.secondary-color {
  color: #0399ff;
  font-weight: bold;
}

/* Header Styles */

header {
  width: 100%;
  background: #000;
  min-height: 3rem;
  padding: 0.5rem;
}

header a {
  color: #fff;
  font-weight: bold;
}

header a:hover {
  color: #0399ff;
  font-weight: bold;
}

.nav-container {
  width: 95%;
  margin: 1rem auto;
}

.main-name {
  padding: .25rem;
  text-align: center;
  margin: 0 auto;
}

.main-name h2 {
  margin: 0;
}

.secondary-header-title {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

nav ul {
  font-size: 1rem;
  list-style-type: none;
  padding: 0;
}

nav li {
  width: 33%;
  float: left;
  text-align: center;
}

/* Main Sections */

.main-container {
  margin: 0 auto;
  margin-top: 6rem;
  width: 90%;
  min-height: 57vh;
}

.main-portfolio-container {
  margin-top: 3rem;
}

.secondary-container {
  text-align: center;
}

#initial-hello,
#initial-enter {
  opacity: 0;
}

h1 {
  font-size: 3rem;
  margin: 0;
  text-align: center;
}

.location {
  font-size: 1rem;
}

.enter-site {
  color: #000;
  margin: 4rem auto;
  padding: .25rem;
  width: 30%;
  border: 1px solid #000;
  text-align: center;
}

.enter-site:hover {
  background: #000;
  color: #0399ff;
}

.info-container {
  text-align: center;
  color: #000;
  padding-top: 3rem;
  font-size: .85rem;
}

.info-container h3 {
  font-size: 1rem;
}

.info-container p {
  margin-top: 2rem;
  color: #0399ff;
}

.site-container {
  width: 90%;
  border: 1px solid #999;
  margin: 2rem auto;
}

.site-container h5 {
  width: 95%;
  margin: .1rem auto;
  padding: 0;
}

.screenshot-container {
  padding-top: .65rem;
  width: 95%;
  margin: 0 auto;
}

.site-container p {
  font-size: .75rem;
  padding-bottom: 0.5rem;
  width: 95%;
  margin: 0 auto;
}

.site-container img {
  width: 100%;
}

footer {
  width: 100%;
  min-height: 2rem;
  background: #fff;
  padding: 2rem;
  font-size: 1.25rem;
  text-align: center;
}

footer #footer-date {
  font-size: .65em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
  margin: .25rem;
}

footer a, 
.info-container a {
  color: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-weight: bold;
}

footer a {
  font-size: 2.5rem;
}

footer p a {
  font-size: 1rem;
}

footer a:hover, 
.info-container a:hover {
  color: #0399ff;
  font-weight: bold;
}

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

/* Styles for 480px screens */
@media screen and (min-width: 480px) {

  nav ul {
    width: 60%;
    margin: 1rem auto;
  }

  .info-container h3 {
    font-size: 1.25rem;
  }

  .secondary-container {
    width: 70%;
    margin: 0 auto;
  }

}


/* Styles for 720px screens */
@media screen and (min-width: 720px) {
  
  header {
    position: fixed;
    top: 0;
    z-index: 100;
  }

  nav ul {
    float: right;
    width: 35%;
  }

  .main-container {
    width: 90%;
    max-width: 1000px;
    padding: 2rem;
    font-size: 1.25rem;
    min-height: 75vh;
  }

  .secondary-container {
    margin: 3rem auto;
    text-align: center;
  }

  .nav-container {
    width: 85%;
    max-width: 70rem;
  }

  .info-container {
    font-size: 1.05rem;
    text-align: left;
  }

  .main-name {
    float: left;
    width: 10rem;
    display: inline-block;
    text-align: left;
  }

  .main-portfolio-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 11rem;
    min-height: 75vh;
  }


}

/* Styles for 960px screens */
@media screen and (min-width: 960px) {
 
  .site-container {
    display: inline-block;
    width: 45%;
    margin: 3rem 0 0 3%;
    border: 1px solid #999;
  }

  .site-container h5 {
    margin-top: 0.75rem;
    width: 90%;
  }

  .site-container p {
    width: 90%;
  }

  .enter-site {
    width: 25%;
    max-width: 9rem;
  }


}